.button {
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 35%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &:active {
    transform: scale(0.98);
    box-shadow: 0.5px 0.5px 2.5px 0.5px rgba(0, 0, 0, 0.24);
    opacity: 0.5;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 400px) {
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
