.button {
  border-radius: 50%;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 35%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
