.button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
