.input {
  border: none;
  outline: none;
  font-size: 0.75rem;
  letter-spacing: 2px;
  border-bottom: 2px solid #5e5e5e;
  background: transparent;
  padding-bottom: 0.25rem;
  width: 100%;
  color: white;
}
