.meeting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 1rem;
  gap: 1rem;

  .meeting-item_left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .link-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4b5a5d;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .meeting-content {
      display: flex;
      flex-direction: column;

      .meeting-content_time {
        color: hsl(236deg, 9%, 61%);
        font-size: 0.85rem;
        margin-top: 0.25rem;
      }
    }
  }

  .meeting-item_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;

    &:hover {
      cursor: pointer;
    }

    .copied-message {
      display: flex;
      gap: 0.5rem;

      .copied-message_text {
        font-style: italic;
      }

      svg {
        color: $primary-color;
      }
    }
  }
}
