.meeting-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  .leave-button {
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 3rem;
    background-color: rgba(238, 12, 12, 0.979);
    color: #fff;
    font-size: 1rem;
    opacity: 0.85;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 35%);
    padding-right: 0.05rem;

    &:hover {
      cursor: pointer;
    }
  }
}
