.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  z-index: 5;

  &:hover {
    background-color: rgba(60, 64, 67, 0.08);
  }

  &.active {
    background-color: rgba(60, 64, 67, 0.12);
  }

  .menu-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7vh;
    right: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;

    .menu-body_email {
      align-items: center;
      padding: 0.5rem;
    }

    .logout-button {
      border: none;
      width: 100%;
      padding: 0.1rem;
      border-radius: 5px;
      outline: none;
      background-color: transparent;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
