.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  z-index: 5;

  &:hover {
    background-color: rgba(60, 64, 67, 0.08);
  }

  &.active {
    background-color: rgba(60, 64, 67, 0.12);
  }

  .menu-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 4rem;
    right: 1.3rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;

    @media screen and (max-width: $mobile-breakpoint) {
      max-width: 80vh;
    }

    .menu-body_user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 0.2rem;
      padding: 1rem;
      border-bottom: 1px solid $LightGrayishBlue;

      .menu-body_user-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-size: cover;
      }

      .menu-body_user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        color: hsl(233, 14%, 35%);
      }

      .menu-body_user-email {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $DarkGrayishBlue;
      }
    }

    .logout-button {
      // border-color: $LightGrayishBlue;
      //box-shadow: 0px 10px 10px 10px white;
      padding: 0.2rem 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      border-radius: 3px;
      border: 1px solid $LightGrayishBlue;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
      color: $DarkGrayishBlue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
