.modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-open {
    display: flex;
  }

  &.is-close {
    display: none;
  }

  .modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 72%);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &.out {
      animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  .modal-content {
    width: 80%;
    min-height: 220px;
    max-width: 300px;
    padding: 2rem;
    background-color: #343434ed;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    z-index: 2;
    color: #fff;
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.out {
      animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .modal-header {
      position: relative;
      margin-bottom: 1.5rem;

      .title {
        font-size: 1rem !important;
        letter-spacing: 0.05rem;
        font-weight: 600;
        color: $secondary-color;
      }

      .modal-close-button {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        padding: 10px;
        cursor: pointer;
        color: #a7a7a7;
        background: none;
        border: none;
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(86, 86, 86, 0.4784313725);
        border-radius: 50%;
        box-shadow: 1px 1px 4px 2px #272727;

        &:hover {
          color: #c67b7b;
        }
      }
    }

    .modal-body {
      margin-bottom: 2.5rem;
    }

    .modal-footer {
      margin-top: -1rem;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaleForward {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
