.navbar {
  position: absolute;
  display: flex;
  top: 0px;
  width: 100%;
  height: 7.5vh;
  align-items: center;
  justify-content: right;
  background-color: transparent;
  border-bottom: 1px black solid;
}
