.participant-info {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c4043;
  overflow: hidden;
  border-radius: 10px;

  .participant-identity {
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 0.7rem;
    left: 0.7rem;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .muted-indicator {
    position: absolute;
    z-index: 3;
    background-color: rgba(128, 128, 128, 0.527);
    bottom: 0.25rem;
    right: 0;
  }

  .participant-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
