.start-page_buttons {
  width: 100%;
  display: flex;
  gap: 1rem;

  .meeting-button {
    background-color: $primary-color;
    width: 100%;
    border-radius: 3px;
    height: 2rem;
    color: black;
  }

  .join-button {
    background-color: transparent;
    width: 100%;
    border-radius: 3px;
    height: 2rem;
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
}
