.button-bar {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  gap: 1rem;

  .button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(70, 70, 70);
    box-shadow: 2px 3px 5px 1px #0000007d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 200ms linear;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &.inactive {
      cursor: pointer;
      background-color: rgb(214, 51, 51);
    }
  }
}
