.avatar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  height: 150px;
  width: 150px;
=======
  height: 125px;
  width: 125px;
>>>>>>> 3b59646eaf1d5609bdbf53eb0956b6e3e176d5c6
  border-radius: 50%;
  background-size: cover;
}
