.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: min(100vw, 1200px);

  .left {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }

    img {
      width: max(40vw, 400px);
      max-width: 650px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;

    padding: 1rem, 0rem;

    .login-page_title {
      font-weight: bolder;
      font-size: 2.5rem;
      color: $primary-color;
    }

    .login-page_switcher {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      row-gap: 0.5rem;
      margin-top: 4rem;

      @media screen and (min-width: 768px) {
        margin-top: 2rem;
      }

      h3 {
        font-weight: lighter;
        color: hsl(0, 0%, 98%);
      }

      a {
        color: $primary-color;
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }
}
