:root {
  --one-row: 100%;
  --two-rows: repeat(2, 1fr);
  --three-rows: repeat(3, 1fr);
  --four-rows: repeat(4, 1fr);
  --one-column: 100%;
  --two-columns: repeat(2, 1fr);
  --three-columns: repeat(3, 1fr);
  --four-columns: repeat(4, 1fr);
}

.meeting-page {
  position: relative;
  height: 100%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .grid {
    height: 88%;
    width: min(100vw, 1556px);
    padding: 3rem 1rem 0;

    @media screen and (min-width: $mobile-breakpoint) {
      padding: 4rem 4rem 0;
    }
  }

  .meeting-buttons {
    height: 12%;
  }
}

$videos: (
  "1": "A",
  "2": "B",
  "3": "C",
  "4": "D",
  "5": "E",
  "6": "F",
  "7": "G",
  "8": "H",
);

@each $num, $letter in $videos {
  .participant-#{$num} {
    grid-area: unquote($letter);
    margin: auto;
    padding: 0.25rem;

    @media screen and (min-width: $mobile-breakpoint) {
      padding: 1rem;
    }

    &:nth-child(2n + 1):last-child:not(:first-child) {
      width: 50%;
    }

    @media (orientation: portrait) {
      &:nth-child(2n + 1):last-child {
        width: 100% !important;
      }
    }
  }
}

.grid {
  display: grid;
}

.grid--1 {
  grid-template-rows: var(--one-row);
  grid-template-areas: "A";

  @media (orientation: portrait) {
    grid-template-areas: "A";
  }
}

.grid--2 {
  grid-template-rows: var(--one-row);
  grid-template-columns: var(--two-columns);
  grid-template-areas: "A B";
  
  @media (orientation: portrait) {
    grid-template-rows: var(--two-rows);
    grid-template-columns: var(--one-column);
    grid-template-areas:
      "A"
      "B";
  }
}

.grid--3 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--two-columns);
  grid-template-areas:
    "A B"
    "C C";

  @media (orientation: portrait) {
    grid-template-rows: var(--three-rows);
    grid-template-columns: var(--one-column);
    grid-template-areas:
      "A"
      "B"
      "C";
  }
}

.grid--4 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--two-columns);
  grid-template-areas:
    "A B"
    "C D";
}

.grid--5 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--three-columns);
  grid-template-areas:
    "A A B B C C"
    "D D D E E E";

  @media (orientation: portrait) {
    grid-template-rows: var(--three-rows);
    grid-template-columns: var(--two-columns);
    grid-template-areas:
      "A A B B"
      "C C D D"
      "E E E E";
  }
}

.grid--6 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--three-columns);
  grid-template-areas:
    "A B C"
    "D E F";

  @media (orientation: portrait) {
    grid-template-rows: var(--three-rows);
    grid-template-columns: var(--two-columns);
    grid-template-areas:
      "A B"
      "C D"
      "E F";
  }
}

.grid--7 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--four-columns);
  grid-template-areas:
    "A A A B B B C C C D D D"
    "E E E E F F F F G G G G";

  @media (orientation: portrait) {
    grid-template-rows: var(--three-rows);
    grid-template-columns: var(--three-columns);
    grid-template-areas:
      "A A A B B B"
      "C C C D D D"
      "E E F F G G";
  }
}

.grid--8 {
  grid-template-rows: var(--two-rows);
  grid-template-columns: var(--four-columns);
  grid-template-areas:
    "A B C D"
    "E F G H";

  @media (orientation: portrait) {
    grid-template-rows: var(--four-rows);
    grid-template-columns: var(--two-columns);
    grid-template-areas:
      "A B"
      "C D"
      "E F"
      "G H";
  }
}

.participant-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px) {
    border-radius: 10px;
  }

  video {
    height: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
  }

  .muted-indicator {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(32, 33, 36, 0.302);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
