.start-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;

  .meetings {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;

    .title {
      color: hsl(236, 9%, 61%);
      font-weight: lighter;
    }

    .meeting-list {
      .meeting-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin-top: 1rem;
        gap: 1rem;
        .link {
          display: flex;
          align-items: center;
          gap: 1rem;
          .icon-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }
        }
        .icon-copy-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .info-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 0 1rem;

    .info-message_image {
      width: 60%;
      max-width: 250px;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .info-message_title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .info-message_subtitle {
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.2rem;

      strong {
        color: $primary-color;
      }
    }
  }
}
