.start-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-top: 0rem;
  }

  .meetings {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;

    @media screen and (min-width: 768px) {
      height: 81%;
    }

    .meeting-list {
      margin-top: 1rem;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-right: 1rem;
      &::-webkit-scrollbar {
        display: none;
      }

      @media screen and (min-width: 768px) {
        margin-top: 0.7rem;
      }
    }

    .title {
      color: hsl(236, 9%, 61%);
      font-weight: lighter;
    }
  }

  .info-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 0 1rem;

    .info-message_image {
      width: 60%;
      max-width: 250px;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .info-message_title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .info-message_subtitle {
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.2rem;

      strong {
        color: $primary-color;
      }
    }
  }
}

.join-code-button {
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: none;
  color: $secondary-color;
  border: 1px solid $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

.start-page__modal-body {
  .error-message {
    position: absolute;
    color: rgb(237, 76, 76);
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
