.start-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;

  .container-join-link {
    position: absolute;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    //align-items: center;
    // justify-content: center;
    justify-content: space-between;
    margin-top: 13rem;
    height: 25%;
    width: 90%;
    max-width: 450px;
    background-color: white;
    border-radius: 5px;

    @media screen and (min-width: 440px) {
      margin-top: 10.5rem;
      height: 28%;
    }

    h3 {
      text-align: center;
      font-size: 1.2rem;
    }

    h4 {
      font-size: 0.85rem;
    }

    .input-link {
      border: none;
      outline: none;
      font-size: 1rem;
      border-bottom: 1px solid black;
    }
    .button-join-link {
      height: 2rem;
      font-size: 1rem;
      border-radius: 5px;
      background-color: $primary-color;
    }
  }

  .meetings {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;

    .title {
      color: hsl(236, 9%, 61%);
      font-weight: lighter;
    }
  }

  .info-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 0 1rem;

    .info-message_image {
      width: 60%;
      max-width: 250px;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .info-message_title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .info-message_subtitle {
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.2rem;

      strong {
        color: $primary-color;
      }
    }
  }
}
