@import "./utilities/all";
@import "./base/all";
@import "./components/all";
@import "./layouts/all";
@import "./pages/all";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  video {
    transform: scaleX(-1);
    width: 60vw;
    height: auto;

    @media (max-width: 768px) {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
